<h3>
  produit works!
</h3>

<div class="container">
  <div class="row">
      <div class="col-lg-7">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Reference</th>
              <th>Quantite</th>
              <th>Prix unitaire</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of produits">
              <td scope="row">{{ produit.ref }}</td>
              <td>{{ produit.quantite }}</td>
              <td>{{ produit.prixUnitaire }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-5">
          <div class="card">
            <div class="card-header bg-info text-white">
              Ajouter produit
            </div>
            <div class="card-body">
              <form  [formGroup]="produitForm">
                <div class="formGroup">
                    <label >Réference: </label>
                    <input type="text" class="form-control" formControlName="ref"/>
                </div>
                <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid &&
                (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
                  Réference est obligatoire !
                </div>
                <div class="formGroup">
                  <label >Quantité: </label>
                  <input type="number" class="form-control" formControlName="quantite"/>
              </div>
              <div class="formGroup">
                <label >Prix unitaire: </label>
                <input type="number" class="form-control" formControlName="prixUnitaire"/>
            </div>
            <p></p>
            <button class="btn btn-success" [disabled]="produitForm.pristine || produitForm.invalid">Ajouter</button>
              </form>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
      </div>

</div>
