<h3>
  produit works!
</h3>

<div class="container">
  <div class="row">
      <div class="col-lg-7">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Reference</th>
              <th>Quantite</th>
              <th>Prix unitaire</th>
              <th>
                <button class="btn btn-outline-primary" (click)="operation='add'; initProduit();">ADD</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of produits">
              <td scope="row">{{ produit.ref }}</td>
              <td>{{ produit.quantite }}</td>
              <td>{{ produit.prixUnitaire }}</td>
              <td>
                <button class="btn btn-outline-warning" (click)="operation='edit'; selectedProduit = produit;">Edit  </button>
                <button class="btn btn-outline-danger" (click)="operation='remove'; selectedProduit = produit;">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-5">
          <div class="card">
            <div class="card-header bg-info text-white">
              {{ operation.toString() =='add' ? 'Ajouter produit' :
                 operation.toString() == 'edit' ? 'Modifier produit' :
                 operation.toString() == 'remove' ? 'Supprimer produit' : ''}}
            </div>
            <div class="card-body">
              <div *ngIf="operation.toString() == 'add' || operation.toString() == 'edit'">
                  <form  [formGroup]="produitForm" >
                      <div class="formGroup">
                          <label >Réference: </label>
                          <input type="text" class="form-control" formControlName="ref"
                          [(ngModel)]="selectedProduit.ref"/>
                      </div>
                      <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid &&
                      (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
                        Réference est obligatoire !
                      </div>
                      <div class="formGroup">
                        <label >Quantité: </label>
                        <input type="number" class="form-control" formControlName="quantite"
                        [(ngModel)]="selectedProduit.quantite"/>
                    </div>
                    <div class="formGroup">
                      <label >Prix unitaire: </label>
                      <input type="number" class="form-control" formControlName="prixUnitaire"
                      [(ngModel)]="selectedProduit.prixUnitaire"/>
                  </div>
                  <p></p>
                  <button class="btn btn-success" [disabled]="produitForm.pristine || produitForm.invalid"
                  (click)="
                  operation.toString() =='add' ? addProduit() : updateProduit()
                  ">
                  {{ operation.toString() =='add' ? 'Ajouter' : 'Modifier'}}
                </button>
                    </form>
              </div>
              <div *ngIf="operation.toString()=='remove'">
                <p>
                 Reference:  {{ this.selectedProduit.ref }}
                </p>
                <p>
                  Voulez-vous supprimer ce produit ?
                </p>
                <button class="btn btn-success" [disabled]="!selectedProduit.ref" (click)="deleteProduit()">Confirmer</button>
              </div>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
      </div>

</div>
